<header class="pc-header header-nav-control-user-public">
    <div class="header-wrapper2" style="display: flex; justify-content: flex-start;">
        <img src="../../../../../assets/images/logo-dark.svg" alt="" srcset="" style="width: 100px;"/>
    </div>
  <div class="header-wrapper">
    <div>
        <ul class="list-unstyled">
            <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
                <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
                <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar me-2" />
                <span class="f-w-600">Sergio Cardozo</span>
                </a>
                <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
                <div class="dropdown-header">
                    <div class="d-flex mb-1">
                    <div class="flex-shrink-0">
                        <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avatar wid-35" />
                    </div>
                    <div class="flex-grow-1 ms-3 text-start">
                        <h6 class="mb-0">Sergio Cardozo Chavarro</h6>
                        <span>Usuario</span>
                    </div>
                    <a href="javascript:" class="bg-transparent"><i class="d-flex f-20" antIcon theme="outline" type="logout"></i></a>
                    </div>
                </div>
                </div>
            </li>
        </ul>
    </div>
  </div>
</header>
<div class="pc-container container-control-user-public">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <app-breadcrumb />
        <div class="main-body">
          <div class="page-wrapper">
            <div class="container-xxl div-login-form">
              <div class="authentication-wrapper authentication-basic container-p-y authetication-control-user-public">
                <div class="authentication-inner">
                  <!-- Register -->
                  <div class="card">
                    <div class="card-body">
                      <!-- /Logo -->
                      <h4 class="mb-2 text-titulo-login">PROPIEDAD DE VEHICULOS 🚗</h4>
                      <p class="mb-4">¡Haz que la gestión de tus vehiculos sea fácil y divertida!</p>

                      <form id="formAuthenticationTwo" class="mb-3 row" [formGroup]="formVehiculo">
                        <div class="form-group mb-3 col-md-6">
                          <label class="form-label" for="tipo-documento">Tipo de Vehiculo:</label>
                          <select class="form-select" id="tipo-documento" formControlName="tipoVehiculo">
                            <option value="MOTO">Moto</option>
                            <option value="CARRO">Carro</option>
                          </select>
                        </div>
                        <div class="form-group mb-3 col-md-6">
                          <label class="form-label" for="placa">Placa:</label>
                          <input
                            type="text"
                            class="form-control"
                            id="placa"
                            placeholder="Ingresa la placa de tu vehiculo"
                            formControlName="placa"
                          />
                        </div>
                        <div class="mb-3 col-md-6">
                          <button
                            class="btn btn-primary d-grid w-100 btn-ingresar-login"
                            type="button"
                            (click)="agregarVehiculo()"
                            style="width: 100px !important"
                          >
                            Agregar
                          </button>
                        </div>
                        <div class="form-group mb-3 col-md-12">
                          <div class="card tbl-card">
                            <div class="table-responsive">
                              <table class="table table-hover mb-0">
                                <thead>
                                  <tr>
                                    <th>TIPO DE VEHICULO</th>
                                    <th>PLACA</th>
                                    <th>OPCIONES</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  @for (vehiculo of vehiculosUser; track vehiculo) {
                                    <tr>
                                      <td>
                                        <a href="javascript:" class="text-muted">{{ vehiculo.tipoVehiculo }}</a>
                                      </td>
                                      <td>{{ vehiculo.placa }}</td>
                                      <td>
                                        <button class="btn btn-icon button-delete-register" (click)="deleteVehiculo(vehiculo)">
                                          <i anticon="" type="delete" theme="outline" class="f-20">
                                            <svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em">
                                              <path
                                                d="M360 184h-8c4.4 0 8-3.6 8-8v8h304v-8c0 4.4 3.6 8 8 8h-8v72h72v-80c0-35.3-28.7-64-64-64H352c-35.3 0-64 28.7-64 64v80h72v-72zm504 72H160c-17.7 0-32 14.3-32 32v32c0 4.4 3.6 8 8 8h60.4l24.7 523c1.6 34.1 29.8 61 63.9 61h454c34.2 0 62.3-26.8 63.9-61l24.7-523H888c4.4 0 8-3.6 8-8v-32c0-17.7-14.3-32-32-32zM731.3 840H292.7l-24.2-512h487l-24.2 512z"
                                              ></path>
                                            </svg>
                                          </i>
                                        </button>
                                      </td>
                                    </tr>
                                  }
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </form>

                      <div class="mb-3 col-md-12 d-flex justify-content-end">
                        <button
                          class="btn btn-primary d-grid w-100 btn-ingresar-login"
                          type="button"
                          (click)="guardarCambios()"
                          style="width: 100px !important"
                        >
                          Guardar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="pc-footer footer-control-user-public">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Copyright &copy;
          <a href="https://codedthemes.com" target="_blank">Sergio Cardozo</a>
        </p>
      </div>
    </div>
  </div>
</footer>
<app-configuration />
